<h2 class="text-4xl font-bold mb-4">Depósitos de Relaves</h2>
<div class="absolute top-4 right-4 z-10">
  <app-user-menu></app-user-menu>
</div>
<div class="card flex justify-end mb-4">
    <app-form-deposito (depositoCreado)="cargarDepositos(); mostrarToast($event)"></app-form-deposito>
</div>
<p-toast />
<div class="card">
    <p-table 
        [columns]="cols" 
        [value]="depositos" 
        [tableStyle]="{ 'min-width': '50rem' }" 
        [loading]="loading"
        styleClass="table-auto"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="text-center">#</th>
                @for (col of columns; track col.header) {
                  <th class="text-center">
                    {{ col.header }}
                  </th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr
                class="hover:bg-primary-100 dark:hover:bg-primary-100 hover:text-highlight-color dark:hover:text-black cursor-pointer"
                (click)="onRowClick(rowData)"
            >
                <td class="text-center">{{ rowIndex + 1 }}</td>
                @for (col of columns; track col.field) {
                  <td class="text-center">
                    {{ col.field === 'coordenadaEste' || col.field === 'coordenadaNorte' ? 
                        (rowData[col.field] | number:'1.3-3') : 
                        (rowData[col.field] ? rowData[col.field] : 
                        '-') 
                    }}
                  </td>
                }
            </tr>
        </ng-template>
    </p-table>
</div>

@if (showDepositoVisible) {
  <app-show-deposito
    [deposito]="depositoSeleccionado"
    [visible]="showDepositoVisible"
    (close)="showDepositoVisible = false">
  </app-show-deposito>
}