<h2 class="text-4xl font-bold mb-4">Depósitos de Relaves</h2>
<div class="card flex justify-end mb-4">
    <app-form-deposito (depositoCreado)="cargarDepositos(); mostrarToast($event)"></app-form-deposito>
</div>
<p-toast />
<div class="card">
    <p-table 
        [columns]="cols" 
        [value]="depositos" 
        [tableStyle]="{ 'min-width': '50rem' }" 
        [loading]="loading"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="w-1/12 text-center">#</th>
                <th *ngFor="let col of columns" class="w-1/5 text-center">
                    {{ col.header }}
                </th>
                <th class="w-1/5 text-center"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td class="w-1/12 text-center">{{ rowIndex + 1 }}</td>
                <td *ngFor="let col of columns" class="w-1/5 text-center">
                    {{ rowData[col.field] ? rowData[col.field] : '-' }}
                </td>
                <td class="w-1/5">
                    <p-button icon="pi pi-search" severity="secondary" rounded 
                        (click)="abrirShowDeposito(rowData)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-show-deposito
  *ngIf="showDepositoVisible"
  [deposito]="depositoSeleccionado"
  [visible]="showDepositoVisible"
  (close)="showDepositoVisible = false">
</app-show-deposito>