<div class="flex justify-end items-center min-h-screen"
  [ngStyle]="{'background-image': 'url(' + bgImageUrl + ')', 'background-size': 'cover', 'background-position': 'center'}">
  <div class="flex flex-col items-center w-full max-w-md mx-32">
    <p-card class="w-full max-w-sm m-5 shadow-2xl">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="pt-2">
        <div class="flex justify-center mb-4">
          <img [src]="logoUrl" alt="logo" class="h-10">
        </div>
        <div class="text-center m-4">
          <p 
            class="text-xl font-semibold opacity-80"
          >Inicio de Sesión</p>
        </div>
        <div class="mb-4">
          <p-floatlabel variant="on" class="w-full">
            <input pInputText id="email" type="text" formControlName="email" autocomplete="off" class="w-full h-12" />
            <label for="email" class="block mb-2 font-bold">Usuario</label>
          </p-floatlabel>
          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <small class="p-error">El email es requerido y debe ser válido</small>
          }
        </div>

        <div class="mb-4">
          <p-floatlabel variant="on" class="w-full">
            <p-password id="password" formControlName="password" autocomplete="off" [toggleMask]="true"
              [feedback]="false" class="w-full" inputStyleClass="w-full h-12" />
            <label for="password" class="block mb-2 font-bold">Contraseña</label>
          </p-floatlabel>
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <small class="p-error">La contraseña es requerida</small>
          }
        </div>

        @if (errorMessage()) {
        <p-message severity="error" [text]="errorMessage()" styleClass="w-full"></p-message>
        }

        <div class="mb-4">
          <p-button type="submit" label="Iniciar Sesión" [disabled]="loginForm.invalid || loading()"
            [loading]="loading()" styleClass="w-full my-4"></p-button>
        </div>
      </form>
    </p-card>
  </div>
</div>