<div class="flex justify-center items-center min-h-screen">
      <p-card header="Iniciar Sesión" class="w-full max-w-sm m-5 shadow-2xl">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="pt-2">
          <div class="mb-4">
            <p-floatlabel variant="on" class="w-full">
              <input 
                pInputText 
                id="email" 
                type="email" 
                formControlName="email" 
                autocomplete="off"
                class="w-full h-12"
              />
              <label for="email" class="block mb-2 font-bold">Email</label>
            </p-floatlabel>
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
              <small class="p-error">El email es requerido y debe ser válido</small>
            }
          </div>
          
          <div class="mb-4">
            <p-floatlabel variant="on" class="w-full">
              <p-password 
                id="password" 
                formControlName="password" 
                autocomplete="off"
                [toggleMask]="true"
                [feedback]="false"
                class="w-full"
                inputStyleClass="w-full h-12"
              />
              <label for="password" class="block mb-2 font-bold">Contraseña</label>
            </p-floatlabel>
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
              <small class="p-error">La contraseña es requerida</small>
            }
          </div>
          
          @if (errorMessage()) {
            <p-message severity="error" [text]="errorMessage()" styleClass="w-full"></p-message>
          }
          
          <div class="mb-4">
            <p-button 
              type="submit" 
              label="Iniciar Sesión" 
              [disabled]="loginForm.invalid || loading()"
              [loading]="loading()"
              styleClass="w-full"
            ></p-button>
          </div>
        </form>
      </p-card>
    </div>