<div class="card">
    <p-drawer 
        header="Crear Nuevo Depósito" 
        [(visible)]="rigth" 
        position="right" 
        styleClass="w-[500px]"
        (onHide)="clearForm()">
        <form 
            [formGroup]="depositoForm" 
            class="m-2 p-2"
        >
            <div 
                class="card flex flex-wrap justify-center items-end gap-4"
            >
                <p-floatlabel 
                    variant="on" 
                    class="w-full"
                >
                    <input 
                        pInputText id="nombreDeposito" 
                        formControlName="NombreDeposito" 
                        autocomplete="off"
                        class="w-full h-12" 
                    />
                    <label for="nombreDeposito">Nombre Depósito</label>
                </p-floatlabel>
                <p-floatlabel 
                    variant="on" 
                    class="w-full"
                >
                    <input 
                        pInputText id="ubicacion" 
                        formControlName="Ubicacion" 
                        autocomplete="off" 
                        class="w-full h-12"
                    />
                    <label for="ubicacion">Ubicación</label>
                </p-floatlabel>
                <p-floatlabel 
                    variant="on" 
                    class="w-full"
                >
                    <input 
                        pInputText id="zonaUtm" 
                        formControlName="ZonaUtm" 
                        autocomplete="off" 
                        class="w-full h-12"
                    />
                    <label for="zonaUtm">Zona UTM</label>
                </p-floatlabel>
                <p-floatlabel 
                    variant="on" 
                    class="w-full"
                >
                    <input 
                        pInputText id="coordenadaEste" 
                        formControlName="CoordenadaEste" 
                        autocomplete="off" 
                        class="w-full h-12"
                    />
                    <label for="coordenadaEste">Coordenada Este</label>
                </p-floatlabel>
                <p-floatlabel 
                    variant="on" 
                    class="w-full"
                >
                    <input 
                        pInputText id="coordenadaNorte" 
                        formControlName="CoordenadaNorte" 
                        autocomplete="off" 
                        class="w-full h-12"
                    />
                    <label for="coordenadaNorte">Coordenada Norte</label>
                </p-floatlabel>
                <p-floatlabel 
                    variant="on" 
                    class="w-full"
                >
                    <p-datepicker 
                        formControlName="FechaCreacion" 
                        [iconDisplay]="'input'" 
                        [showIcon]="true"
                        inputId="fechaCreacion" 
                        class="w-full" 
                        [dateFormat]="'dd/mm/yy'"
                        inputStyleClass="w-full h-12"
                    />
                    <label for="fechaCreacion">Fecha de Creación</label>
                </p-floatlabel>
            </div>
            <div class="flex justify-end mt-4">
                <p-toast />
                <p-confirmpopup />
                <p-button 
                    type="button" 
                    label="Guardar" 
                    [disabled]="depositoForm.invalid" 
                    (onClick)="confirm($event)" 
                />
            </div>
        </form>
    </p-drawer>
    <div class="flex gap-2 justify-center">
        <p-button 
            type="button" 
            (click)="rigth=true" 
            icon="pi pi-plus" 
            label="Crear"
        />
    </div>
</div>