<div class="card flex justify-center">
    <p-dialog 
        header="Detalle Depósito" 
        [(visible)]="visible" 
        [modal]="true"
        [dismissableMask]="true"
        [style]="{ width: '25rem' }" 
        (onHide)="cerrar()"
    >
        @if (deposito) {
          <div class="m-2">
            <p-floatlabel variant="on" class="w-full mb-3">
              <input pInputText [value]="deposito.nombreDeposito" class="w-full h-12" readonly />
              <label>Nombre Depósito</label>
            </p-floatlabel>
            <p-floatlabel variant="on" class="w-full mb-3">
              <input pInputText [value]="deposito.ubicacion" class="w-full h-12" readonly />
              <label>Ubicación</label>
            </p-floatlabel>
            <p-floatlabel variant="on" class="w-full mb-3">
              <input pInputText [value]="deposito.zonaUtm" class="w-full h-12" readonly />
              <label>Zona UTM</label>
            </p-floatlabel>
            <p-floatlabel variant="on" class="w-full mb-3">
              <input pInputText [value]="deposito.coordenadaEste" class="w-full h-12" readonly />
              <label>Coordenada Este</label>
            </p-floatlabel>
            <p-floatlabel variant="on" class="w-full mb-3">
              <input pInputText [value]="deposito.coordenadaNorte" class="w-full h-12" readonly />
              <label>Coordenada Norte</label>
            </p-floatlabel>
            <p-floatlabel variant="on" class="w-full mb-3">
              <input pInputText [value]="deposito.fechaCreacion" class="w-full h-12" readonly />
              <label>Fecha de Creación</label>
            </p-floatlabel>
          </div>
        }
        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cerrar" severity="secondary" (click)="cerrar()" />
        </div>
    </p-dialog>
</div>