<div class="card flex justify-start">
    <div class="fixed left-8 top-8 z-50">
        <p-button (click)="visible = true" icon="pi pi-bars" />
    </div>
    <p-drawer #drawerRef [(visible)]="visible">
        <ng-template #headless>
            <div class="flex flex-col h-full">
                <div class="flex items-center justify-between px-6 pt-4 shrink-0">
                    <span class="inline-flex items-center gap-2">
                        <span class="font-semibold text-2xl text-primary">App</span>
                    </span>
                    <span>
                        <p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" rounded="true"
                            outlined="true" styleClass="h-8 w-8"></p-button>
                    </span>
                </div>
                <div class="overflow-y-auto">
                    <ul class="list-none p-4 m-0">
                        <li>
                            <div pRipple pStyleClass="@next" enterFromClass="hidden"
                                enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                leaveActiveClass="animate-slideup"
                                class="p-4 flex items-center justify-between cursor-pointer p-ripple">
                                <span class="font-medium">OPCIONES</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                @for (item of items; track item.routeLink) {
                                <li>
                                    <a pRipple [routerLink]="item.routeLink" (click)="onItemSelect(item.routeLink); closeCallback($event)"
                                        class="flex items-center cursor-pointer p-4 rounded-border duration-150 transition-colors p-ripple hover:bg-primary-100 dark:hover:bg-primary-100 hover:text-highlight-color dark:hover:text-black"
                                        [ngClass]="{ 'bg-primary-500 dark:bg-primary-500': selectedItem === item.routeLink }">
                                        <i [ngClass]="item.icon + ' mr-2'"></i>
                                        <span class="font-medium">{{ item.label }}</span>
                                    </a>
                                </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <p-toggleswitch [(ngModel)]="checked" (onChange)="toggleDarkerMode()" [style]="{ position: 'absolute', bottom: '16px', right: '16px' }">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-sun' : 'pi-moon']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>
        </ng-template>
    </p-drawer>
</div>