<h2 class="text-4xl font-bold mb-4">Dashboard</h2>

<div class="space-y-6 w-[86.5vw]">
    <!-- Botón para descargar gráficos -->
    <div class="flex justify-end mb-4">
        <button class="p-button p-button-primary" (click)="descargarGraficos()">Descargar Gráficos</button>
    </div>

    <!-- Gráfico Horizontal Absoluto -->
    <div class="card bg-white" id="chartHorizontal">
        @if (loading) {
            <div class="flex justify-center items-center h-[30rem]">
                <div class="text-black text-lg">Cargando datos...</div>
            </div>
        }
        @if (!loading) {
            <p-chart type="line" [data]="data" [options]="options" class="h-[30rem]" />
        }
    </div>

    <!-- Gráfico Vertical Absoluto -->
    <div class="card bg-white" id="chartVertical">
        @if (loading) {
            <div class="flex justify-center items-center h-[30rem]">
                <div class="text-black text-lg">Cargando datos...</div>
            </div>
        }
        @if (!loading) {
            <p-chart type="line" [data]="dataVertical" [options]="optionsVertical" class="h-[30rem]" />
        }
    </div>

    <!-- Gráfico Total Absoluto -->
    <div class="card bg-white" id="chartTotal">
        @if (loading) {
            <div class="flex justify-center items-center h-[30rem]">
                <div class="text-black text-lg">Cargando datos...</div>
            </div>
        }
        @if (!loading) {
            <p-chart type="line" [data]="dataTotal" [options]="optionsTotal" class="h-[30rem]" />
        }
    </div>

    <!-- Gráfico Este vs Norte -->
    <div class="card bg-white" id="chartEsteNorte">
        @if (loading) {
            <div class="flex justify-center items-center h-[30rem]">
                <div class="text-black text-lg">Cargando datos...</div>
            </div>
        }
        @if (!loading) {
            <p-chart type="scatter" [data]="dataEsteNorte" [options]="optionsEsteNorte" class="h-[30rem]" />
        }
    </div>

    <!-- Gráfico Velocidad Media -->
    <div class="card bg-white" id="chartAverageSpeed">
        @if (loading) {
            <div class="flex justify-center items-center h-[30rem]">
                <div class="text-black text-lg">Cargando datos...</div>
            </div>
        }
        @if (!loading) {
            <p-chart type="line" [data]="dataAverageSpeed" [options]="optionsAverageSpeed" class="h-[30rem]" />
        }
    </div>
</div>