<p-toast />
<div class="card flex justify-center">
    <p-dialog 
        header="Detalle Hito Topográfico" 
        [(visible)]="visible" 
        [modal]="true" 
        [dismissableMask]="true"
        [style]="{ width: '30rem' }" 
        (onHide)="cerrar()"
    >
        @if (hito) {
        <div class="m-2" [ngClass]="{'edit-mode': isEditMode}">
            <div class="grid grid-cols-2 gap-4">
                <p-floatlabel variant="on" class="w-full mb-3">
                    @if (isEditMode) {
                        <input pInputText [(ngModel)]="editForm.nombreHito" class="w-full h-12" />
                    } @else {
                        <input pInputText [value]="hito.nombreHito" class="w-full h-12" readonly />
                    }
                    <label>Hito Topográfico</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="w-full mb-3">
                    <input pInputText [value]="hito.este | number:'1.2-2'" class="w-full h-12" readonly />
                    <label>Este</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="w-full mb-3">
                    <input pInputText [value]="hito.norte | number:'1.2-2'" class="w-full h-12" readonly />
                    <label>Norte</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="w-full mb-3">
                    <input pInputText [value]="hito.elevacion | number:'1.2-2'" class="w-full h-12" readonly />
                    <label>Elevación</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="w-full mb-3">
                    <input pInputText [value]="hito.nombreDeposito" class="w-full h-12" readonly />
                    <label>Depósito de Relave</label>
                </p-floatlabel>
                
            </div>
            <p-floatlabel variant="on" class="w-full mb-3">
                    @if (isEditMode) {
                        <textarea pTextarea [(ngModel)]="editForm.descripcion" rows="4" style="resize: none" class="w-full"></textarea>
                    } @else {
                        <textarea pTextarea [value]="hito.descripcion" rows="4" style="resize: none" class="w-full" readonly></textarea>
                    }
                    <label>Descripción</label>
                </p-floatlabel>
        </div>
        }
        <div class="flex justify-end gap-2 mt-4">
            @if (isEditMode) {
                <p-button label="Cancelar" severity="secondary" (onClick)="cancelEdit()" [disabled]="isLoading" />
                <p-button label="Guardar" severity="success" (onClick)="saveChanges()" [loading]="isLoading" />
            } @else {
                <p-button label="Editar" severity="info" (click)="enableEditMode()" />
                <p-button label="Cerrar" severity="secondary" (onClick)="cerrar()" />
            }
        </div>
    </p-dialog>
</div>