@import "tailwindcss";
@import "primeicons/primeicons.css";

@import "tailwindcss";
@import "tailwindcss-primeui";

/* Aplicar color azul solo en modo light */
h2, h3 {
    color: #2196f3 !important;
}

/* Usar el color verde del tema en modo dark */
.my-app-dark h2, 
.my-app-dark h3 {
    color: #ffffff !important;
}

@media (prefers-color-scheme: dark) {
    h2, h3 {
        color: #2196f3 !important;
    }
}