<div class="flex items-center justify-between mt-8">
    <h2 class="text-2xl font-bold m-0">Registros</h2>

    <div class="card flex justify-center items-center ml-4">
        <p-select [options]="hitos" [(ngModel)]="selectedHitos" optionLabel="nombreHito"
            placeholder="Seleccione un Hito" [editable]="true" class="w-full md:w-56"
            (onChange)="onHitoChange($event)" />
    </div>
</div>

<div class="card mt-4">
    <h3 class="text-xl font-bold">Medición Máxima</h3>
    @if (maxMedida != null) {
    <div class="grid grid-cols-5 gap-4 pt-4">
        <p-floatlabel variant="on" class="w-full">
            <input pInputText id="totalAbsoluto" [value]="maxMedida.totalAbsoluto | number:'1.2-2'" readonly
                class="w-full h-12" />
            <label for="totalAbsoluto">Desplazamiento Máximo Registrado (cm)</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <input pInputText id="acimutAbsoluto" [value]="maxMedida.acimutAbsoluto | number:'1.2-2'" readonly
                class="w-full h-12" />
            <label for="acimutAbsoluto">Acimut</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <input pInputText id="velocidadMedia" [value]="maxMedida.velocidadMedia | number:'1.2-2'" readonly
                class="w-full h-12" />
            <label for="velocidadMedia">Velocidad Máxima Registrada (cm/día)</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <input pInputText id="fechaMedicion" [value]="maxMedida.fechaMedicion | date:'dd/MM/yyyy'" readonly
                class="w-full h-12" />
            <label for="fechaMedicion">Fecha Medición</label>
        </p-floatlabel>
    </div>
    }
    @if (maxMedida == null) {
    <div>
        <p>No se encontraron mediciones para ver los máximos.</p>
    </div>
    }
</div>

<div class="card py-8 w-[88vw]">
    <div class="table-container" style="overflow-x: auto;">
        <p-table #dt2 [value]="medidas" dataKey="medicionId" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true" [loading]="loading" [globalFilterFields]="[
                'nombreHito', 'este', 'norte', 'elevacion', 'horizontalAbsoluto', 
                'verticalAbsoluto', 'totalAbsoluto', 'acimutAbsoluto', 'buzamientoAbsoluto', 
                'horizontalRelativo', 'verticalRelativo', 'totalRelativo', 'acimutRelativo', 
                'buzamientoRelativo', 'horizontalAcumulado', 'velocidadMedia', 'inversaVelocidadMedia', 
                'fechaMedicion'
            ]" [tableStyle]="{ 'min-width': '150rem' }" [scrollable]="true" scrollHeight="600px" scrollDirection="both"
            class="hover:bg-white">
            <ng-template #header>
                <tr>
                    <th rowspan="2" style="width:4%; border-right: 2px solid #e5e7eb;" class="text-center">#</th>
                    <th rowspan="2" style="width:7%; border-right: 2px solid #e5e7eb;" class="text-center">
                        Fecha
                        <div style="display: flex; justify-content: flex-end; margin-top: 5px;">
                            <p-columnFilter type="text" field="fechaMedicion" placeholder="Año" ariaLabel="Filter Año">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <input pInputText type="number" [ngModel]="value"
                                        (input)="filter($event.target.value)" placeholder="Año"
                                        style="width: 80px; font-size: 11px; padding: 2px;" />
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th rowspan="2" style="width:6%; border-right: 2px solid #e5e7eb;" class="text-center">Hito
                        Topográfico</th>
                    <th rowspan="2" style="width:6%; border-right: 2px solid #e5e7eb;" class="text-center">Este (m)</th>
                    <th rowspan="2" style="width:6%; border-right: 2px solid #e5e7eb;" class="text-center">Norte (m)</th>
                    <th rowspan="2" style="width:6%; border-right: 3px solid #e5e7eb;" class="text-center">Elevación (m)</th>
                    <th colspan="5" style="border-right: 3px solid #e5e7eb;" class="text-center">Absoluto</th>
                    <th colspan="5" style="border-right: 3px solid #e5e7eb;" class="text-center">Relativo</th>
                    <th rowspan="2" style="width:6%; border-right: 2px solid #e5e7eb;" class="text-center">H. Acumulado (cm)</th>
                    <th rowspan="2" style="width:6%; border-right: 2px solid #e5e7eb;" class="text-center">Vel. Media (cm/día)</th>
                    <th rowspan="2" style="width:6%;" class="text-center">Inv. Vel. Media (día/cm)</th>
                </tr>
                <tr>
                    <th style="width:4%; border-right: 1px solid #e5e7eb;" class="text-center">Horizontal (cm)</th>
                    <th style="width:4%; border-right: 1px solid #e5e7eb;" class="text-center">Vertical (cm)</th>
                    <th style="width:4%; border-right: 1px solid #e5e7eb;" class="text-center">Total (cm)</th>
                    <th style="width:4%; border-right: 1px solid #e5e7eb;" class="text-center">Acimut (deg)</th>
                    <th style="width:5%; border-right: 3px solid #e5e7eb;" class="text-center">Buzamiento (deg)</th>
                    <th style="width:4%; border-right: 1px solid #e5e7eb;" class="text-center">Horizontal (cm)</th>
                    <th style="width:4%; border-right: 1px solid #e5e7eb;" class="text-center">Vertical (cm)</th>
                    <th style="width:4%; border-right: 1px solid #e5e7eb;" class="text-center">Total (cm)</th>
                    <th style="width:4%; border-right: 1px solid #e5e7eb;" class="text-center">Acimut (deg)</th>
                    <th style="width:5%; border-right: 3px solid #e5e7eb;" class="text-center">Buzamiento (deg)</th>
                </tr>
            </ng-template>
            <ng-template #body let-medida let-rowIndex="rowIndex">
                <tr class="hover:bg-primary-100 dark:hover:bg-primary-100 hover:text-highlight-color dark:hover:text-black"
                    (click)="onRowClick(medida)">
                    <td class="text-center">{{ rowIndex + 1 }}</td>
                    <td class="text-center">{{ medida.fechaMedicion | date:'dd/MM/yyyy' }}</td>
                    <td class="text-center">{{ medida.nombreHito }}</td>
                    <td class="text-center">{{ medida.este | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.norte | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.elevacion | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.horizontalAbsoluto | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.verticalAbsoluto | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.totalAbsoluto | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.acimutAbsoluto | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.buzamientoAbsoluto | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.horizontalRelativo | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.verticalRelativo | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.totalRelativo | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.acimutRelativo | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.buzamientoRelativo | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.horizontalAcumulado | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.velocidadMedia | number:'1.2-2' }}</td>
                    <td class="text-center">{{ medida.inversaVelocidadMedia | number:'1.2-2' }}</td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="19">No se encontraron medidas.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-show-medida [medida]="selectedMedida" [visible]="showDialog" (close)="closeDialog()"></app-show-medida>